/* Стили для IE6 */


#loader{
	background: url(../Tools/load8.gif) no-repeat scroll center center white;
}
#progress{
	color:black;
}
*html .start_head-logo {
	width: 263px;
	height: 74px;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/med_logo_dark.png');
	background-position: center center;
	background-size: 263px 74px;
}

/* Старый добрый дедовский способ */
* html #m-down{
	background: none;

	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/charms/download.png');
	background-position: center center;

}
* html #m-setup{
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/charms/setup.png');
	background-position: center center;
}

* html #m-pc {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/charms/pc.png');
	background-position: center center;
}

* html #m-apps{
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/charms/apps.png');
	background-position: center center;
}
* html #m-adapter{
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/charms/android.png');
	background-position: center center;
}
* html #m-toolkit{
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/charms/toolkit.png');
	background-position: center center;
}
* html #m-reload{
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/charms/reload-sm.png');
	background-position: center center;
}

* html #m-store{
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/charms/store.png');
	background-position: center center;
}
* html #m-toolkit{
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/charms/toolkit.png');
	background-position: center center;
}
* html #m-gears{
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/charms/gears.png');
	background-position: center center;
}
* html #m-help{
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/charms/help.png');
	background-position: center center;
}
* html #drv-sound{
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/speaker.png');
	background-position: center center;
}
* html #drv-wifi{
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/wifi.png');
	background-position: center center;
}
* html #drv-cam{
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/cam.png');
	background-position: center center;
}
* html #drv-generic{
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/device-generic.png');
	background-position: center center;
}
* html .menu-e:active{

}
