.news-experiment #progress {
    top: 0;
    margin-top: 50px;
}
.news-experiment #progressDescription {
    font-size: 36px;
}
.news-experiment #loader {
    background-position: center 170px;
}
.news {
    width: 650px;
    background-color: #FFFFFF;
    text-align: left;
}
.news_head {
    position: relative;
    z-index: 10;
    height: 42px;
    padding: 0 0 0 25px;
    background-color: #168DE2;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 42px;
}
.news_feed-wrapper {
    position: relative;
    height: 200px;
    overflow: hidden;
}
.news_feed {
    position: absolute;
    height: 1200px;
}
.news_item {
    height: 200px;
}
.news_item-image-link {
    display: block;
    width: 200px;
    height: 120px;
    overflow: hidden;
}
.news_item-image-holder {
    vertical-align: top;
    padding: 27px 0 10px 30px;
}
.news_item-image {
    width: 200px;
}
.news_item-text {
    vertical-align: top;
    width: 385px;
    padding: 20px 0px 0 20px;
}
.news_item-title {
    display: block;
    color: #000000;
    padding: 0 0 7px 0;
    font-size: 18px;
    text-decoration: underline;
}
.news_item-title:hover {
    text-decoration: none;
}
.news_item-lead {
    display: block;
    color: black;
    text-decoration: none;
}
.news_item-lead:hover {
    color: black;
    text-decoration: none;
}
.news_item-button {
    display: block;
    width: 180px;
    font-size: 14px;
    padding: 5px 0;
    margin-top: 15px;
    text-align: center;
    border: 1px solid #168DE2;
    color: #016FBD;
    text-decoration: none;
}
.news_item-button:hover {
    text-decoration: none;
    border: 1px solid #205479;
    color: #205479;
}
