

/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/Regular/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* END Regular */
/* BEGIN Italic */
@font-face {
  src: url("./fonts/Italic/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
/* END Italic */


/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/Bold/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/* END Bold */

