/* FIX */
html {
    margin: 0px;
    padding:0px;
    background-color: white;
    font-style:normal;
    font-size: 10pt;
    font-family: 'Open Sans', 'Segoe UI',sans-serif;
    min-width: 600px;
    background-color: #ebebeb;
    height: 100%;
    width: 100%;

}
body{
    height: 100%;
    width: 100%;
    position: relative;
}

#loader{
	background: url(../Tools/load8.gif) no-repeat scroll center center white;
	background-size: 50px 50px;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	z-index: 9999;
	/*text-shadow: 0px 0px 4px black, 0 0 2px black;*/
}

#progress {
    position:relative;
    top:32%;
    color:black;
    text-align:center;
    font-size:60px;
}

.right{
    float:right;
}
.left {
    float:left;
}
.ui1 .active{
    background-color:#007701;
}


/* { LEFT CHARMS BAR } */
.ui1 .charms{
    background-color: #222222;
    width: 266px;
    max-width:266px;
    min-width:266px;
    vertical-align: top;
    padding-top:24px;
    padding-bottom:10px;
    padding-left:0px;
    padding-right:0px;
    height: 100%;
    min-height: 600px;
}

.a{
    text-decoration: none;
}
.a:hover{
    text-decoration: underline;
    background-color: red;
}

/* { CHARMS LOGO } */
.charms_logo {
/*    padding-left: 8px;
    padding-right: 8px;*/
    margin-bottom:15px;
    float: left;
}
h2 {
    color: white;
    width: 150px;
    float: left;
    font-size: 18pt;
    margin: 5px 0;
}
/* { Menu } */
.main-menu {

}
.ui1 .menu-e{
    width:100%;
    height:48px;
    color:#222222;
    cursor:pointer;
    text-decoration: none;
    font-size:0px;
    float:left;
    text-decoration: none;

}
.menu-e img{
    height: 48px;
    width: 64px;
    background-position: center center;
    background-repeat: no-repeat;
}

.ui1 .menu-e i{
    font-style: normal;
    font-size:13pt;
    position: relative;
    bottom:18px;
    color:white;
}

.ui1 .menu-e:hover{
    background-color:#007701;
    color:#007701;
}
.ui1 .menu-e:active{
    background-color:black;
}

/* Bottom Menu */
.ui1 #bottom-menu-line{
    background-image: url('../img/charms/line.jpg');
    background-repeat: repeat-x;
    background-position: top;
    /*width:200px;*/
    color:#222222;
    padding-right:200px;
    font-size:1px;
    height:10px;
    margin-left: 30px;
    margin-top:30px;

}
.ui1 .bottom-menu{
    margin-top:10px;
    width: 200px;
    margin-left: 30px;
}
.bt-menu-e{
    width:100%;
    height:32px;
    color:#222222;
    cursor:pointer;
    text-decoration: none;
    font-size:0px;
    float:left;
    text-decoration: none;
}

.bt-menu-e img{
    height: 24px;
    width: 24px;
    background-position: center center;
    background-repeat: no-repeat;
}

.bt-menu-e i{
    font-style: normal;
    font-size:9pt;
    position: relative;
    bottom:10px;
    left:10px;
    color:white;
}




/* ICONS */

#m-down{
    background-image: url('../img/charms/download.png');
    background-position: center center;
}

#m-setup{
    background-image: url('../img/charms/setup.png');
    background-position: center center;
}

#m-pc {
    background-image: url('../img/charms/pc.png');
    background-position: center center;
}

#m-apps{
    background-image: url('../img/charms/apps.png');
    background-position: center center;
}
#m-adapter{
    background-image: url('../img/charms/android.png');
    background-position: center center;
    width: 64px;
    height: 48px;
}
#m-toolkit{
    background-image: url('../img/charms/toolkit.png');
    background-position: center center;
}
#m-reload{
    background-image: url('../img/charms/reload-sm.png');
    background-position: center center;
}
#m-store{
    background-image: url('../img/charms/store.png');
    background-position: center center;
}
#m-gears{
    background-image: url('../img/charms/gears.png');
    background-position: center center;
}
#m-help{
    background-image: url('../img/charms/help.png');
    background-position: center center;
}
#drv-sound{
    background-image: url('../img/speaker.png');
    background-position: center center;
}
#drv-wifi{
    background-image: url('../img/wifi.png');
    background-position: center center;
}
#drv-cam{
    background-image: url('../img/cam.png');
    background-position: center center;
}
#drv-generic{
    background-image: url('../img/device-generic.png');
    background-position: center center;
}

/*
#m-reload{
        background-image: url('../img/charms/reload-rm.png');
        background-position: center center;
}
#m-reload{
        background-image: url('../img/charms/reload-rm.png');
        background-position: center center;
}*/



/* { APP-CONTAINER } */
.main {
    width:100%;
	height:100%;
    border:none;
}
.main tr{
    border:none;
}
.main td{
    border:none;
}
.ui1 .app-container{
    color:black;
    height:100%;
    vertical-align: top;
    margin:0px;
    padding:0px;
    padding-top: 24px;
    padding-bottom: 48px;
    padding-left:32px;
    padding-right:32px;
}
.ui1 .app-container h1{
    font-size:18pt;
    color:#252525;
    padding-bottom: 10px;
}
.app-container a{
    color:#007701;
    text-decoration: none;
    cursor:pointer;
}
.app-container a:hover{
    text-decoration: underline;
}
.ui1 .app-container .app-footer {
    padding-top:32px;
    padding-bottom: 32px;
}
button{
    background: none;
    border:none;
    margin:	0px;
    padding: 0px;
    width:250px;
    height: 60px;
    background-color:#007701;
    padding-top:8px;
    padding-left:12px;
    padding-bottom: 8px;
    padding-right: 12px;
    color:white;
    font-weight: bold;
    font-size:12pt;
    font-family: 'Open Sans', 'Segoe UI',sans-serif;
    outline:none;
    cursor:pointer;
}
button:active{
    background-color: black;

}
.ui1 .notification{
    border-top: 1px solid #898989;
    border-bottom: 1px solid #898989;
    width: 100%;
    padding-top:15px;
    padding-bottom:15px;
    font-size: 9pt;
}
.ui1 .notification .nt-body{
    color:#383838;

}
.ui1 .nt-body span{
    position: relative;
    bottom: 3px;
    left: 5px;
}
.ui1 .nt-footer{
    padding-top:3px;
    padding-left:20px;
}









/* { COMMON } */

.ui1 .head-second {
    padding-left: 35px;
}
.ui1 .items-list {
    margin-top:24px;
    margin-bottom:24px;
    width:100%;
    background: url('../img/table-list.jpg');
}
.ui1 .items-list table{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    border:none;
	font-size:20px;
}
.ui1 .items-list .list-first{
    width:25px;
    height:32px;
    padding-left: 16px;
}
.ui1 .items-list .list-second{
    padding-left: 10px;
    font-size: 9pt;
}
.ui1 .items-list .list-third{
    font-size: 9pt;
    width:48px;
}
.ui1 .items-list .list-last{
    width:100px;
	white-space:nowrap;
}
.ui1 .list-third b{
    margin-right: 10px;
}
.ui1 .list-first img{
    float:right;
    width:16px;
    height:16px;
}
.ui1 .list-driver-icon {
    margin-right: 10px;
    vertical-align: bottom;
}
.items-list tr{
    height:50px;
}


/* { DEBUG } */
.red {
    background-color: red;
}

.dbg {
    background-color: #ff00ff;
}

.dbg2 {
    background-color: #00ff00;
}

.ui1 .copyright {
    position: fixed;
    bottom: 20px;
    color: white;
    text-align: center;
    width: 266px;
}

#progressDescription {
	display:inline-table;
	width:80%;
}

.ui1 #settings {
	text-align:center;
}

#description {
	display:inline-table;
	margin-left:10px;
}

#browse_logs {
	width:100px;
	height:30px;
	font-size:12px;
	margin-top:7px;
}

/* Adapter */
#menu-adapter {
    display: none;
}
.adapter-experiment #menu-adapter {
    display: block;
}
.adapter_list {
    margin: 0 auto;
    border-spacing: 7px;
    border-collapse: separate;
    color: #000000;
    font-family: sans-serif;
}
.adapter_cell:hover {
    background-color: #C2C2C2;
}
.adapter_card-content,
.adapter_label {
    position: absolute;
    top: 0;
    left: 0;
}
.adapter_card-content {
    table-layout: fixed;
    width: 100%;
    z-index: 0;
}
.adapter_cell {
    position: relative;
    table-layout: fixed;
    width: 318px;
    height: 89px;
    background-color: #D8D8D8;
}
.adapter_list .adapter_cell.active {
    background-color: #FFFFFF;
}
.adapter_label {
    position: absolute;
    width: 100%;
    /* px for ie8 */
    height: 100px;
    z-index: 10;
}
.adapter_label-input {
    padding: 0;
    margin: 18px 15px;
}
.adapter_card-text,
.adapter_card-image {
    vertical-align: top;
}
.adapter_card-image {
    text-align: center;
}
.adapter_card-image img {
    margin-top: 13px;
}
.adapter_card-text {
    padding-top: 8px;
    padding-left: 6px;
}
.adapter_card-name {
    width: 200px;
    font-size: 18px;
    line-height: 21px;
}
.adapter_card-developer {
    padding-top: 5px;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
}
.adapter_list-title,
.adapter_head {
    text-align: center;
    font-family: sans-serif;
}
.adapter_head {
    width: 640px;
    font-size: 24px;
    line-height: 38px;
    color: #000000;
    margin: 67px auto 0 auto;
}
.adapter_list-title {
    width: 600px;
    margin: 62px auto 15px auto;
    font-size: 18px;
    color: #888888;
}
.adapter_button-large {
    margin: 44px auto 0;
    display: block;
    width: 270px;
    height: 56px;
    font-size: 22px;
}
.adapter_device-img {
    display: block;
    width: 167px;
    height: 228px;
    margin: 91px auto 61px auto;
}
.adapter_progress {
    display: block;
    width: 65px;
    margin: 218px auto 0 auto;
}
.adapter_form-text {
    width: 510px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    font-family: sans-serif;
    margin: 128px auto 17px;
}
.adapter_form-controls {
    width: 650px;
    margin: 0 auto;
    text-align: center;
}
.adapter_button-small {
    width: 205px;
    height: 48px;
    margin-left: 10px;
    font-size: 18px;
    vertical-align: middle;
}
.adapter_button-arrow {
    vertical-align: middle;
    margin-left: 5px;
}
.adapter_form-input {
    width: 363px;
    height: 44px;
    padding: 0 10px;
    vertical-align: middle;
}
.adapter_btn {
    background: none;
    border: none;
    background-color: #007701;
    color: white;
    font-family: 'Open Sans', 'Segoe UI',sans-serif;
    outline: none;
    cursor: pointer;
}
.adapter_btn:active {
    background-color: black;
}
.adapter_card-label {
    color: #118F11;
    font-weight: bold;
}
.dws {
    width: 200px;
    color: white;
    text-decoration: none;
    display: block;
    border: 1px solid white;
    margin: 0 auto 15px;
    padding: 5px 0;
}
.dws.disabled {
    cursor: default;
}
