body {
	-ms-touch-action:pan-y;
	-ms-user-select: none;
}
body, #panel, #mainW { cursor:wait; zoom:115%; }
body, #mainW { width:85%; }
#panel { height:76%; }

#sys_info_table  { font-size:12px !important; }
